build --features=external_include_paths
build --cxxopt="-std=c++20"
build --copt="-Wno-error=private-header" --copt="-Werror=delete-non-abstract-non-virtual-dtor" --copt="-Werror=return-type"

build:debug -c dbg
build:debug --javacopt="-g"
build:debug --copt="-g"
build:debug --strip="never"